<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/"> Home </a>
      <br />
      <a href="/random"> Random Joke </a>
      <br />
      <a href="/categories"> Joke by Category </a>
      <br />
      <a href="/search"> Search </a>
    </nav>
    <%- body -%>


  </body>
</html>
