<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Chuck Norris Joke Department</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>

  </body>
</html> -->

<form action="index.html" method="get">

  <label for="keywordVal">Search by keyword</label>
  <input id="keywordVal" type="search" name="keywordTerm" placeholder="celebrities">
  <br>

  <button type="button" name="button">Search</button>

</form>
